.container--scroll
  - @dashboard.cook_proposals.each do |id, proposals|
    %h3
      Organizacja:
      = Organization.find(id).name
    .container.proposal_group
      - proposals.each do |proposal|
        .card.proposals_card
          .card-block
            %ul.w-100.m-0.p-0
              %li.proposals_card__time
                %span.proposals_card__dish_details.fs--15=proposal.decorate.dish_name
                %span.proposals_card__dish_time.m-0
                  %i.ion-android-stopwatch
                  %span=proposal.expiration_date
              %li.proposals_card__price
                %span.proposals_card__label Ilość:
                %span.mr-1=proposal.quantity
                %span.proposals_card__label Cena:
                %span.proposals_card__dish_price=proposal.price
