.container_header
  %span.latest_orders Ostatnie zamównienia:
.container_orders
  %ul.list-group
    -@dashboard.custom_orders_hash.each do |_, order|
      %li.list-group-item.mb-2
        %span.m-1= order[:proposal]
        %span.font-weight-bold Ilość:
        %span.m-1= order[:quantity]
        %span.font-weight-bold Data odbioru:
        %span.m-1= order[:receive_date]
        %span.font-weight-bold Kucharz:
        %span.m-1= order[:cook]