.text-center
  = link_to "Dodaj nowe danie", new_cook_dish_path(current_user.cook), class: "btn btn-info"
- @dashboard.cook_dishes.each do |dish|
  .container
    %ul
      %li
        %span.proposals_card__dish_details= dish.name
      %li
        %span.proposals_card__label= dish.description
        %span.proposals_card__dish_price= dish.type_of_kitchen
