.container_header
  %span.latest_orders Moje dania:
.text-center
  = link_to "Dodaj nowe danie", new_cook_dish_path(current_user.cook), class: "btn btn-info m-2"
.container--scroll
  - @dashboard.cook_dishes.each do |dish|
    .card.m-2
      .card-body.p-1
        %ul.list-group.list-group-flush
          %li.list-group-item
            %span.font-weight-bold= dish.name
          %li.list-group-item
            %span= dish.type_of_kitchen
            %br
            %span= dish.description
