- @dashboard.followed_organizations.each do |organization|
  .container
    %h1
      Organizacja:
      = organization.name
    - organization.proposals.each do |proposal|
      .card.proposals_card
        .card-block
          %ul.w-100.m-0.p-0
            %li.proposals_card__time
              %span.proposals_card__dish_details=proposal.decorate.dish_name
              %span.proposals_card__dish_time
                %i.ion-android-stopwatch
                %span=proposal.decorate.expiration_date
            %li.proposals_card__price
              %span.proposals_card__label Ilość:
              %span.mr-1=proposal.quantity
              %span.proposals_card__label Cena:
              %span.proposals_card__dish_price=proposal.price
              .row.m-0.d-flex.justify-content-end
                = link_to 'Zamów', custom_order_path(proposal), class: 'btn btn-info w-25 m-0'
