.row
  %section.first.flex
    %h1.text-center.c-white
      %i.ion-fork
      Żur
      %span.c-green NOW
  %section.flex
    %h1= t('motto')
    %h2.c-green= t('motto_lower')
    = link_to t('sign_up'), new_user_registration_path, class: 'btn btn-info p-3'
