%div.container_header
  %span.latest_orders Ostatnie zamównienia:
%div.container_orders
  %ul.list-group
    -@custom_orders.each do |_, order|
      %li.list-group-item.mb-2
        %span.m-1= order[:proposal]
        %span.font-weight-bold Ilość:
        %span.m-1= order[:quantity]
        %span.font-weight-bold Data odbioru:
        %span.m-1= order[:receive_date]