/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "ionicons";
 @import "variables";
 @import "dashboard";
 @import "tabs";
 @import "landing_page";

// FORMS
body{
  font-size: 14px;
}
$form-bgnd: #cfcece;
$form-border: #6d6d6d;

.form-container {
  text-align: center;
  background-color: $form-bgnd;
  border-radius: 5px;
  border-bottom: 5px solid $main-green--light;
  margin: 30px auto;
  min-width: 350px;
  padding: 20px 50px;
  width: 40%;
}

// ERRORS
$error-font: #af0000;
$error-bgnd: #ffffff38;

.errors ul {
  background-color: $error-bgnd;
  border: 1px solid $error-font;
  border-radius: 10px;
  color: $error-font;
  font-style: italic;
  list-style: none;
  padding: 20px;
  text-align: center;
}

p.alert, p.notice {
  background-color: $form-bgnd;
  text-align: center;
  margin: auto;
  border-radius: 0;
}
.fs--15{
  font-size: $tenPx * 1.5!important;
}
.fs--11{
  font-size: $tenPx * 1.1!important;
}
.btn {
  border: none;
  border-radius: 0;
  padding: $tenPx $tenPx * 2;
  margin: $tenPx;
  margin-left: 0;
}
.btn-info {
  background-color: $main-green--light;
  &:hover {
    background-color: $main-green--mid;
  }
}
