= form_for(current_user.cook.cooks_organizations.build(organization_id: @organization.id), remote: true) do |f|
  = hidden_field_tag :id, @organization.id
  = f.submit t('join'), class: "btn btn-info"
