.table-responsive
  %table.table.table-hover.table-dark
    %thead
      %tr
        %th Nazwa:
        %th Miasto:
        %th Opis:
    %tbody
      - @organizations.each do |organization|
        %tr
          %td=link_to organization.name, organization_path(organization)
          %td= organization.city
          %td= organization.description
